<?xml version="1.0"?>
<launch>
    <!-- rugby_base and ekf -->
	<include file="$(find rugby)/launch/base.launch">
	    <arg name="EKF" value="True"/>
	</include>
	
    <!-- move_base and amcl setting -->    
    <include file="$(find rugby)/launch/dwa_amcl.launch">
        <arg name="odom_frame_id" value="odom"/>
    </include>

    <!-- rugby head -->	
    <node name="rugby_head" pkg="rugby" type="head.py" output="screen"/>
	
    <!-- leg tracker -->    
    <include file="$(find leg_tracker)/launch/joint_leg_tracker.launch">
	    <arg name="odom_type" value="odom"/>
	</include>

    <!-- follow me -->
	<node name="follow_me" pkg="rugby" type="follow_me.py" output="screen"/>
	
    <!-- auto docking -->    
    <node name="autoDocking" pkg="rugby" type="autodocking.py" output="screen"/>
</launch>
