<?xml version="1.0"?>
<launch>
    
	<arg name="odom_type" value="odom"/>

    <include file="$(find rugby)/launch/dual_ekf_uwb.launch">
    <arg name="IMU"   value="True"/>
    </include>


	<include file="$(find rugby)/launch/base.launch">
	    <arg name="EKF" value="False"/>
	</include>
	<include file="$(find rugby)/launch/dwa_amcl.launch">
    <arg name="tf_broadcast" value="false"/>
    <arg name="UWB_fusion"   value="true"/>
    </include>
	
    <node name="rugby_head" pkg="rugby" type="head.py" output="screen"/>
    <node name="UWB" pkg="rugby" type="UWB.py" output="screen"/>
    <node name="pose_fusion" pkg="rugby" type="pose_fusion.py" output="screen"/>
</launch>
